* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #1e293b;
    --text-color: #e2e8f0;
    --nav-background: #475569;
}

body {
    background: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap:25px
}

nav {
    background: var(--nav-background);
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
}

ul, li {
    list-style: none;
}